.container {
  background: linear-gradient(90deg, #182848 0%, #4b6cb7 100%); /* Azul/Morado */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0;
}

.container h2 {
  color: white;
  margin-bottom: 20px;
}

.container-buttons{
  display: flex;   
  width: 100%;
  gap: 20px;    
  box-sizing: border-box;
  margin-bottom: 20px;
}

.container-buttons button {
  flex: 1;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  transition: background 0.3s;
}

.container-buttons button:hover {
  background-color: #1d1fb8;
}