.graph-container, .graph-container-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #182848 0%, #4b6cb7 100%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0;
  font-weight: bold;
}

.graph-container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.graph-container-empty h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}