.home-container {
  background: linear-gradient(90deg, #182848 0%, #4b6cb7 100%); /* Azul/Morado */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0;
}

.home-container h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.home-btn {
  display: inline-block;
  width: 50%;
  padding: 15px;
  background: #fcf8f6;
  color: rgb(33, 30, 161);
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
  text-align: center;
}

.home-btn:hover {
  transform: scale(1.05);
}